*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background:  #0a0502; ;

}
.ris{
    background: #221107; ;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative ;
}
nav{
    display: flex;
    align-items: center;
    padding: 20px 8%;

}
nav .menu{
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}
nav .logo{
    width: 160px;
    cursor: pointer;
}
nav ul{
    flex: 1;
    text-align: right; /*ye right kr diya */

}
nav ul li{
    display: inline-block;/*ye ab ek line me le aya sare li ko*/
    list-style-type: none;
    margin: 0px 20px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
button{
    background:#efefef ;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer ;
    transition: background 0.5s;
}
/*ye button k andar cirle k liye*/
button span{
display: block;
background: #999;
height: 26px;
width: 26px;
border-radius: 50%;
margin-left:2px ;
}
.lampcont{
  position: absolute;
  top: -20px;
  left: 22%;
  width: 200px;
}
.lamp{
    width: 100%;
}
.light{
    position: absolute;
    top: 98%;
    left: 50%;
    transform: translateX(-50%);
    width:650px ;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}
.text{
    max-width: 600px;
    /*margin top left right buttom ka use kro position idhar udhar krne ke liye*/
    margin-top: 7%;
    margin-left: 50%;

}
.text h1{
    font-size: 80px;
    font-weight: 400;   
}
.text a{
text-decoration:none;
padding: 14px 40px ;
background: #00986f;
display: inline-block;
color: #fff;
font-size: 18px;
margin-top: 30px;
border-radius: 30px;
}
.control{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 150px;
}
.control .line{
    width: 250px;
    height: 4px;
    background: #fff;
    border-radius: 2px;
    margin: 0 2px;
}
.control .line span{
    width: 50%;
    height: 8px;
    margin-top:-2px ;
    border-radius: 4px;
    background: #00986f;
    display: block;
}
.active{
    background: green; 
}
.active span{
    background: #fff;
    margin-left: 31px;
}
/*ye naya class hai jisko ghusasna hai jaise hi btn click ho to js me code lihke hai */
.on{
    opacity: 1;
}
h1 #an{
   z-index: -1;
}